<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card" style="width: 21rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">ADD CATEGORY</h3>
            <div id="alert" class="alert d-none" role="alert"></div>
            <form id="addCategoryForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Category name</label>
                    <input type="text" class="form-control" id="name" placeholder="Input category name">
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/dashboard" class="btn btn-outline-primary w-100">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-100">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/src/js/addCategory.js"></script>