<table class="table table-borderless mt-5">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Sub Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="cart-items">
    </tbody>
</table>
<div class="d-flex justify-content-end mb-5">
    <a href="/dashboard" class="btn btn-outline-primary me-3">Back to Home</a>
    <button id="payBtn" class="btn btn-primary">Pay Bill</button>
</div>

<script src="/src/js/cart.js"></script>