<h1 class="mt-5">Profile</h1>

<div class="row">
    <div class="col-1">Name</div>
    <div id="name" class="col-4"></div>
</div>
<div class="row">
    <div class="col-1">Email</div>
    <div id="email" class="col-4"></div>
</div>
<button id="logoutBtn" class="btn btn-danger mt-3 me-3">Logout</button>
<a href="/dashboard" class="btn btn-primary mt-3">Back to Home</a>

<script src="/src/js/profile.js"></script>